<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Profile Categories</mat-label>
  <mat-chip-list #chipList aria-label="category selection">
    <mat-chip
      *ngFor="let category of categories"
      (removed)="deleteCategory(category.id)"
    >
      {{ category.category }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder="New category..."
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
</mat-form-field>
