<div
  class="search-section"
  style="background-image: url(assets/grunge-cracked-wall.jpg)"
>
  <img
    src="assets/juris-white-name.png"
    alt="logo"
    width="240"
    height="240"
    style="margin-top: 3em"
  />
  <app-search-bar></app-search-bar>
  <h2 class="about-title">Looking for Lawyers or Notaries</h2>
  <p class="about-text">
    Juris provides means for choosing the right attorney for your need. We
    believe that more information helps you make better decisions. At Juris, we
    provide you with detailed information on lawyers and legal issues so that
    you can make the choices that are right for you. Juris also helps lawyers
    sell their services and find new clients. We are fascinated about bringing
    out this new platform that will connect clients with attorneys in our local
    area and improve their quality of services.
  </p>
</div>
