<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-card-title> Request Appointment </mat-card-title>
  </mat-expansion-panel-header>
  <form [formGroup]="appointment" class="example-form">
    <mat-form-field appearance="fill" class="small-width">
      <mat-label>First name</mat-label>
      <input formControlName="firstName" matInput required />
      <mat-error *ngIf="appointment.get('firstName')?.invalid">{{
        getErrorMessage("firstName")
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="small-width">
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput required />
      <mat-error *ngIf="appointment.get('lastName')?.invalid">{{
        getErrorMessage("lastName")
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="small-width">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput required />
      <mat-error *ngIf="appointment.get('email')?.invalid">{{
        getErrorMessage("email")
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="small-width">
      <mat-label>Phone Number</mat-label>
      <input formControlName="phoneNumber" matInput required />
      <mat-error *ngIf="appointment.get('phoneNumber')?.invalid">{{
        getErrorMessage("phoneNumber")
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Problem Description</mat-label>
      <textarea
        rows="3"
        formControlName="description"
        matInput
        required
      ></textarea>
      <mat-error *ngIf="appointment.get('description')?.invalid">{{
        getErrorMessage("description")
      }}</mat-error>
    </mat-form-field>

    <button
      (click)="createAppointment()"
      *ngIf="formState == 'active'"
      [disabled]="!appointment.valid"
      color="primary"
      mat-raised-button
    >
      Request Appointment
    </button>
    <button *ngIf="formState == 'loading'" mat-button>Loading...</button>
    <button *ngIf="formState == 'success'" color="primary" mat-button>
      Your request has been sent!
    </button>
  </form>
</mat-expansion-panel>
