<div class="main-container">
  <mat-card>
    <mat-card-title> Update Profile Info </mat-card-title>
    <form [formGroup]="profile" class="example-form">
      <mat-form-field appearance="fill" class="small-width">
        <mat-label>First name</mat-label>
        <input formControlName="firstName" matInput required />
        <mat-error *ngIf="profile.get('firstName')?.invalid">{{
          getProfileErrorMessage("firstName")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="small-width">
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName" matInput required />
        <mat-error *ngIf="profile.get('lastName')?.invalid">{{
          getProfileErrorMessage("lastName")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="small-width">
        <mat-label>Phone Number</mat-label>
        <input formControlName="phoneNumber" matInput required />
        <mat-error *ngIf="profile.get('phoneNumber')?.invalid">{{
          getProfileErrorMessage("phoneNumber")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="small-width">
        <mat-label>Price</mat-label>
        <input type="number" formControlName="price" matInput required />
        <mat-error *ngIf="profile.get('price')?.invalid">{{
          getProfileErrorMessage("price")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Address</mat-label>
        <input formControlName="address" matInput required />
        <mat-error *ngIf="profile.get('address')?.invalid">{{
          getProfileErrorMessage("address")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="small-width">
        <mat-label>City</mat-label>
        <mat-select formControlName="cityId">
          <mat-option>-</mat-option>
          <mat-option *ngFor="let city of cities" [value]="city.id">
            {{ city.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="small-width">
        <mat-label>Category</mat-label>
        <mat-select formControlName="profileCategoryId">
          <mat-option>-</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.category }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Brief Description</mat-label>
        <textarea
          rows="5"
          formControlName="description"
          matInput
          required
        ></textarea>
        <mat-error *ngIf="profile.get('description')?.invalid">{{
          getProfileErrorMessage("description")
        }}</mat-error>
      </mat-form-field>

      <button
        class="update-button"
        (click)="updateProfile()"
        *ngIf="formState == 'active'"
        [disabled]="!profile.valid"
        color="primary"
        mat-raised-button
      >
        Update Info
      </button>
      <button class="update-button" *ngIf="formState == 'loading'" mat-button>
        Loading...
      </button>
      <button
        class="update-button"
        *ngIf="formState == 'success'"
        color="primary"
        mat-button
      >
        Your profile info has been updated!
      </button>
    </form>
  </mat-card>
  <mat-card>
    <mat-card-title>Education</mat-card-title>
    <form [formGroup]="education" class="example-form">
      <mat-form-field appearance="fill" class="small-width">
        <mat-label>Institution</mat-label>
        <input formControlName="institution" matInput required />
        <mat-error *ngIf="education.get('institution')?.invalid">{{
          getEducationErrorMessage("institution")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="small-width">
        <mat-label>Speciality</mat-label>
        <input formControlName="speciality" matInput required />
        <mat-error *ngIf="profile.get('speciality')?.invalid">{{
          getEducationErrorMessage("speciality")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="date-range-field">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="education" [rangePicker]="picker">
          <input
            matStartDate
            formControlName="startDate"
            placeholder="Start date"
          />
          <input matEndDate formControlName="endDate" placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="profile.get('startDate')?.hasError('required')"
          >Start date required</mat-error
        >
      </mat-form-field>
      <button
        class="add-button"
        (click)="addEducation()"
        [disabled]="!education.valid"
        color="primary"
        mat-raised-button
      >
        <mat-icon class="add-icon">add</mat-icon>
      </button>
    </form>
    <div *ngFor="let education of educations">
      <p>
        <strong>{{ education.institution }}</strong>
        {{ education.speciality }}
        ({{ education.startDate | date: "shortDate" }}
        -
        {{
          education.endDate
            ? (education.endDate | date: "shortDate")
            : "present"
        }})
        <button
          mat-icon-button
          color="warn"
          (click)="deleteEducation(education.id)"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </p>
    </div>
  </mat-card>
</div>
