<div *ngIf="profileId" class="main-container">
  <mat-card>
    <mat-card-title> Update Profile Info </mat-card-title>
    <form [formGroup]="profile" class="example-form">
      <mat-form-field appearance="fill" class="small-width">
        <mat-label>First name</mat-label>
        <input formControlName="firstName" matInput required />
        <mat-error *ngIf="profile.get('firstName')?.invalid">{{
          getProfileErrorMessage("firstName")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="small-width">
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName" matInput required />
        <mat-error *ngIf="profile.get('lastName')?.invalid">{{
          getProfileErrorMessage("lastName")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="small-width">
        <mat-label>Phone Number</mat-label>
        <input formControlName="phoneNumber" matInput required />
        <mat-error *ngIf="profile.get('phoneNumber')?.invalid">{{
          getProfileErrorMessage("phoneNumber")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="small-width">
        <mat-label>Price</mat-label>
        <input type="number" formControlName="price" matInput required />
        <mat-error *ngIf="profile.get('price')?.invalid">{{
          getProfileErrorMessage("price")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Address</mat-label>
        <input formControlName="address" matInput required />
        <mat-error *ngIf="profile.get('address')?.invalid">{{
          getProfileErrorMessage("address")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="small-width">
        <mat-label>City</mat-label>
        <mat-select formControlName="cityId">
          <mat-option>-</mat-option>
          <mat-option *ngFor="let city of cities" [value]="city.id">
            {{ city.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="small-width">
        <mat-label>Category</mat-label>
        <mat-select formControlName="profileCategoryId">
          <mat-option>-</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.category }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Brief Description</mat-label>
        <textarea
          rows="5"
          formControlName="description"
          matInput
          required
        ></textarea>
        <mat-error *ngIf="profile.get('description')?.invalid">{{
          getProfileErrorMessage("description")
        }}</mat-error>
      </mat-form-field>

      <button
        class="update-button"
        (click)="updateProfile()"
        *ngIf="formState == 'active'"
        [disabled]="!profile.valid"
        color="primary"
        mat-raised-button
      >
        Update Info
      </button>
      <button class="update-button" *ngIf="formState == 'loading'" mat-button>
        Loading...
      </button>
      <button
        class="update-button"
        *ngIf="formState == 'success'"
        color="primary"
        mat-button
      >
        Your profile info has been updated!
      </button>
    </form>
  </mat-card>
  <app-update-education [profileId]="profileId"></app-update-education>
  <app-update-experience [profileId]="profileId"></app-update-experience>
</div>
